lab1/fibonacciservice_xsd.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<xs:schema xmlns:tns="http://ws.example.lab1.vislab.iwi.hska.de/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.example.lab1.vislab.iwi.hska.de/">

    <xs:element name="getFibonacci" type="tns:getFibonacci"/>

    <xs:element name="getFibonacciResponse" type="tns:getFibonacciResponse"/>

    <xs:complexType name="getFibonacci">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getFibonacciResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>